
@import "tailwindcss";

*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar{
  width : 15px
}
::-webkit-scrollbar-track{
 background-color: black;
}
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: oklch(67.3% 0.182 276.935); 
}
::-webkit-scrollbar-thumb:hover{
  border-radius: 10px;
  background-color: oklch(58.5% 0.233 277.117);
}